<div class="card">
    <div class="card-body">
    <h5 class="card-title">Login</h5>
    <div *ngIf="error" style="color:red"> 
        {{error}}
    </div>
    <form  role="form" >
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password"  [(ngModel)]="password" name="password">  
    </div>
<!--
    <div class="form-group">
      <label for="save"><input type="checkbox" checked class="form-check-label" id="active" style="text-align: left"  [(ngModel)]="save" name="save"> Merken</label>
      
    </div>
  -->
    <button type="submit" class="btn btn-dark" (click)="onSubmit()" >Anmelden</button>
    </form>
    </div>
    </div>