<h1>Controller Managment</h1>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-dark" routerLink="/controller-add">Add Controller</button>
    </div>

</div>


<div *ngIf="controllers.length">
  <div class="card" *ngFor="let controller of controllers" style="margin-top: 20px; ">
    <div class="card-body">
      <table class="table">
        <tbody>
            <tr>
                <th scope="row">Name:</th>
                <td>{{ controller.name }}</td>
              </tr>
          <tr>
            <th scope="row">ConnectionString:</th>
            <td>{{ controller.connectionString }}</td>
          </tr>
          <tr>
            <th scope="row">Active:</th>
            <td>{{ controller.active }}</td>
          </tr>
        </tbody>

      </table>
      <button type="submit" class="btn btn-dark" (click)="onDelete(controller.id)">Delete</button>
      <button type="button" class="btn btn-dark" [routerLink]="['/controller-change', controller.id]"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</button>
      

    </div>
  </div>