<div class="card">
  <div class="card-body">
  <h5 class="card-title">Controller hinzufügen</h5>
  <form  role="form" >
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="controller.name" name="name">
  </div>
  <div class="form-group">
    <label for="connectionString">Adresse:</label>
    <input type="text" class="form-control" id="connectionString"  [(ngModel)]="controller.connectionString" name="connectionString">  
  </div>
  <div class="form-group">
    <label for="active"><input type="checkbox" checked class="form-check-label" id="active" style="text-align: left"  [(ngModel)]="controller.active" name="active"> Aktiv</label>
    
  </div>
  <button type="submit" class="btn btn-dark" (click)="onSubmit()" >{{button}}</button>
  <button type="button" class="btn btn-dark" routerLink="/controller-config">Cancel</button>
  </form>
  </div>
  </div>