<app-navigation></app-navigation>
<router-outlet></router-outlet>

<main role="main" class="container">
    
          <div class="starter-template">
          <br/>
          <br/>
          <br/>
          <br/>
            <router-outlet></router-outlet>
          </div>
    
        </main><!-- /.container -->