<h1>Device Configuration</h1>

<div *ngIf="devices.length">
  <div class="card" *ngFor="let dev of devices" style="margin-top: 20px; ">
    <div class="card-body">
      <table class="table">
        <tbody>
            <tr>
                <th scope="row">Id:</th>
                <td>{{ dev.id }}</td>
              </tr>
            <tr>
                <th scope="row">Name:</th>
                <td>{{ dev.name }}</td>
              </tr>
        </tbody>

      </table>
      <button type="button" class="btn btn-dark" [routerLink]="['/controller-change', dev.id]"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</button>
      

    </div>
  </div>