<h1> Settings</h1>
<div class="container">
  <div class="row card-group">

    <div class="col-12 col-md-6 col-lg-3 cardwrapper">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">General</h4>
          <p class="card-text">System Settings</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 cardwrapper">
      <div class="card" [routerLink]="['/controller-config']">
        <div class="card-block">
          <h4 class="card-title">Hardware Bridges</h4>
          <p class="card-text">Add/Change or Delete Hardware Bridges und configure them.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 cardwrapper">
      <div class="card" [routerLink]="['/device-config']">
        <div class="card-block">
          <h4 class="card-title">Devices</h4>
          <p class="card-text">Configure the devices</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 cardwrapper">
      <div class="card" [routerLink]="['/rooms-config']">
        <div class="card-block">
          <h4 class="card-title">Rooms</h4>
          <p class="card-text">Add/Change or delete Rooms</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 cardwrapper">
      <div class="card" [routerLink]="['/groups-config']">
        <div class="card-block">
          <h4 class="card-title">Groups</h4>
          <p class="card-text">Add/Change or delete Groups</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 cardwrapper">
      <div class="card" [routerLink]="['/automation-config']">
        <div class="card-block">
          <h4 class="card-title">Automation</h4>
          <p class="card-text">Add/Change or delete Automation</p>
        </div>
      </div>
    </div>

  </div>
</div>